.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
analysis/results
analysis/cell.specific.results
analysis/composition.analysis
data/*.RDS
data/*.csv
data/raw_tiffs/*.tiff
data/*.RData
docs/cell.specific.results

results/
old_files/
code/.ipynb*
data/_old
analysis/notumor.composition.analysis
analysis/red.composition.analysis
analysis/composition.analysis.test
